:root {
  --primary-color-dark: #38598b;
  --primary-color-light: #e7eaf6;
}

body {
  background-image: url(/img/52-528280_rainmeter-wallpaper-anime.jpg);
  font-family: "Bree Serif", serif;
}
.container {
  max-width: 600px;
  margin: auto 0;
  padding: 30px 172px 11px;
}
.top-left {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}
.the-day__title {
  margin-top: 0;
  margin-bottom: 4rem;
  /* margin-left: 3rem; */
  font-family: "Bree Serif", serif;
  color: var(--primary-color-light);
}
.the-day-tempreture {
  font-size: 3rem;
  border-right: 5px solid black;
  padding-right: 1rem;
}
.top {
  display: flex;
}
.search {
  position: relative;
  left: 10rem;
  top: 1.5rem;
  color: black;
  /* margin-left: 30rem; */
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  padding: 1rem;
  width: 40rem;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
.search-submit {
  position: relative;
  padding: 0.98rem 2.5rem;
  font-family: "Bree Serif", serif;
}
.days {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 5rem;
}
.days div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5rem;
  text-align: center;
}
.days p {
  color: black;
  font-family: "Bree Serif", serif;
  font-size: 20px;
}
.days img {
  position: relative;
}
.search form {
  /* display: inline;
  margin: 50px 50px; */
}
img {
  border-radius: 50%;
  width: 130px;
}
